*{
    margin: 0px;
    padding: 0px;
    
}

.cards{
    width: 20%;
    border-radius:5px;
    margin:40px;
    margin-right: -5%;
    margin-left: 12%;
    border: 0.2px solid rgb(143, 143, 143);
    display: inline-block;
    font-family:'Times New Roman', Times, serif;
    background-color:rgba(255, 255, 255, 0.897)
}

.cards:hover{
    box-shadow: 2px 2px 10px black;
    
    
}

.image img{
    width:100%;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
}

.title{
    text-align:left;
    margin-top: 10px;
}

.des{
    text-align:left;
    padding: 5px;
}

button{
    margin-top: 10px;
    margin-bottom:10px;
    width: auto;
    border-radius: 5px;
    border: 3px solid  rgb(40, 71, 245);
    padding: 5px;
    cursor: pointer;
    color: rgb(0, 0, 0);
    background-color: rgb(40, 71, 245);
    box-shadow: inset;
    

}

button:hover
{
    background-color: rgba(255, 255, 255, 0.651);
   
    transition:.3%;

}




.abody {

    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  
    width: 20%;
    border-radius:5px;
    margin-left: 12%;
    border: 0.2px solid rgb(32, 132, 247);
    display: inline-block;
    font-family:'Times New Roman', Times, serif;
    background-color:rgb(255, 255, 255);
    box-shadow:5px 5px 5px 0;
    
   
    
    
    }
    
    
    
    summary {
    color: rgb(6, 64, 255);
    background-color: rgba(7, 185, 255, 0.356);
    padding: 1rem;
    border-radius: 0.5rem;
    cursor: pointer;
    border: 1px solid blue;
    box-shadow: 5px 5px 5px 0;
    
    }
    




